.AddButton{
    background-color: #52ab98;
    color: black;
    font-size: 15px;    
    cursor: pointer;
    border-radius:25%;
    width:80px;
    height:40px;
    position:absolute;
    right:15%;
    top:1.5%;
    margin-bottom:50% ;
}