.background{
  background-color: #337c91;
  height:fit-content;
}

.headerT{
  color:#f2f2f2;
  font-size: 25px;
  position:relative;
  top:20%;
  display:flex;
  justify-content: center;
}

.addButton{
  border-radius: 25%;
  width:80px;
  height:40px;
  position:absolute;
  right:15%;
  top:1.5%;
}