.background{
  background-color: #ffff;
  height:fit-content;
}

.headerT{
  color:black;
  background-color: #f2f2f2;
  font-size: 25px;
  position:relative;
  top:20%;
  display:flex;
  justify-content: center;
  padding-bottom: 2%;
}

.addButton{
  border-radius: 25%;
  width:80px;
  height:40px;
  position:absolute;
  right:15%;
  top:1.5%;
}

.selectorB{
  background-color: #2b6777;
}