.background{
  background-color: rgb(199, 199, 199);
  height:fit-content;
}

.headerT{
  color:black;
  font-size: 25px;
  position:relative;
  top:20%;
  display:flex;
  justify-content: center;
}

.addButton{
  border-radius: 25%;
  width:80px;
  height:40px;
  position:absolute;
  right:15%;
  top:1.5%;
}