.sideTab{
    background-color: #337c91;
    position:absolute;
    border:2px solid black;
    top:21.9%;
    right:0%;
    width:25%;
    height:77.6%;
}

.invalidSt{
    color:rgb(192, 0, 0);
    width:fit-content;
    height:fit-content;
    margin: 0;
    position: relative;
    left:15%;
}

.inputSt{
    border-color: transparent;
    background-color: transparent;
    border-bottom: 2px solid wheat;
}

.inputSt::placeholder{
    color: white;
}

.totalExps{
    font-size:22px;
    margin:0;
    color: #c8d8e4;
    width:fit-content;
    position:relative;
    left:20%;
    top:30%;
}

.budget{
    margin-right:0;
    width:60%;
    position:relative;
    top:40%;
    left:24%;
}

.budgetButton{
    border-radius: 15%;
    border-color: transparent;
    background-color: #c8d8e4;
    color: #2b6777;
    margin-top:10%;
    position:relative;
    left:10%;
}

.changeBudget{
    border-radius: 15%;
    border-color: transparent;
    background-color: #c8d8e4;
    color: #2b6777;
    margin-top: 5%;
    position:relative;
    left:12%;
}

.showBudget{
    margin:0;
    color: #c8d8e4;
}